.container{
    margin-bottom: 50px;
}
.orange-bg {
    background-color: rgb(175, 204, 236);
    border-radius: 10px;
}

.carousel-item{

    padding: 20px 60px;
}

.price {

    color : rgb(85, 74, 80);
}

.button-buy-now{

    background-image: linear-gradient(to bottom, blue 0%, purple 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(127, 90, 168); 
  
}
.cat2{
    background-color: rgb(202, 64, 64); 
}
.cat3{
    background-color: rgb(206, 95, 22); 
}

.category h1 {

    color: white;
}

.category img {
    width: 250px;
    height: 250px;
}

#engine img{
    height: 300px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightslategray;
}

#wheel img{
    height: 250px;
}

.card-footer{
    background: white;
    border-top: none;
}

footer{
    text-align: center;
}